{% extends "base.html" %}
{% block mainpart %}
  <div class="pagetype-taskgroup">
      {{ content }}

      <div class="taskgroup-overview-diagram-container">
        <iframe class="taskgroup-overview-diagram" src="{{ taskgroup_diagram_file }}"
                title="taskgroup overview"
                {% if taskgroup_diagram_style %}style="{{ taskgroup_diagram_style }}"{% endif %}>
        </iframe>
      </div>
      <p class="taskgroup-overview-diagram-solo"><a href="{{ taskgroup_diagram_file }}">View solo</a></p>
  </div>
{% endblock %}
